{% extends 'main/base.html' %}

{% block content %}
{% load parse_iso_days %}
{% load tz %}
{% load parse_iso %}
{% load get_ostatok %}


<style>.table, td, th {
   text-align: center;
}
    .menu, .menu td, .menu th{
        text-align: left;
    }
</style>


<table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col" class="align-middle">#</th>
      <th scope="col" class="align-middle">Название {{decimal}}</th>
      <th scope="col" class="align-middle">Осталось времени</th>
      <th scope="col" class="align-middle">Статус</th>
    </tr>
  </thead>
  <tbody>
  <style>.dropdown-item{padding: .55rem 1.5rem;!important;}
button:focus{
background-color:var(--focus_button)!important;
}
.dropdown-item{
    font-size: 0.8em
}

</style>
  {% for i in orders %}
    <tr  id="{{ i.id }}">
                        <th class="align-middle" scope="row">{{ i.id }}</th>

                        <td class="align-middle" style="word-wrap: break-word;">
                            <a href="/order/{{ i.id }}">{{ i.name }}</a></td>
                        <td class="align-middle"><a style="color:var(--secondary-color)"
                                                              data-toggle="collapse" href="#product{{ i.id }}"
                                                              role=""
                                                              aria-expanded="false" aria-controls="collapseExample"
                               style="margin-top:5px;" class="" name="checkbox">{{ i.complete_date|timeuntil }} <br>из {{ i|parse_iso_days}} дней</a></td>
                        <td>    <div class="btn-group dropleft">
        <button type="button" class="btn btn-secondary dropdown-toggle" id="button{{i.id}}" data-toggle="dropdown" style="padding-left:3px;padding-right:3px;margin-left:0;margin-right:0;color:var(--secondary-color);font-size: 0.7em">{% if i.status == 'Ожидание предоплаты'%}Ожидание<br>предоплаты{%else%}{{ i.status }}{%endif%}</button>
        <div class="dropdown-menu" style="background-color:var(--bg-color);color:var(--secondary-color);">
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">Создан</a>
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">Согласование</a>
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">Ожидание предоплаты</a>
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">В работе</a>
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">Готов к выдаче</a>
            <div class="dropdown-divider"></div>
            <a href="#" status="{{i.status}}" order_id="{{i.id}}" style="color:var(--secondary-color)" class="dropdown-item">Завершен</a>
        </div>
    </div>
    </td>
                    </tr>
                    <tr>
                        <td class="align-middle" colspan="4" style="padding:0;">
                            <div class="collapse" id="product{{ i.id }}">
                                <div class="card card-body" style="padding: 0;padding-bottom:5px; border-radius:0; border:none;">
                                    <div class="table-responsive">
                                        <table style="background-color: transparent;" class="table table-sm">
                                            {% if i.product_set.all %}
                                            <tr style="border-top: 2px solid #1d1d1d; background-color: var(--background-secondary)">
                                                <th class="align-middle" colspan="4">Информация об изделиях</th>
                                            </tr>
                                            <tr>
                                                <th class="align-middle" colspan="2">Изделие</th>
                                                <th class="align-middle">Дата завершения</th>
                                                <th class="align-middle">Состояние</th>
                                            </tr>
                                            {% for product in i.product_set.all %}
                                            <tr>
                                                <td class="align-middle" colspan="2"><a href="order/{{i.id }}?product={{product.id}}">{{ product.name }}</a></td>
                                                <td class="align-middle">{{ product.complete_date|timezone:'Europe/Moscow' }}</td>
</td>
                                                <td class="align-middle">{{ product.status }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                            <tr style="border-top: 2px solid #1d1d1d; background-color: var(--background-secondary);">
                                                <th class="align-middle" colspan="4">Информация о заказе</th>
                                            </tr>
                                            <tr>
                                                <td class="align-middle" colspan="2"></td>
                                                {% if i.client_set.all|length > 1 %}
                                                <td class="align-middle">
                                                    <div class="btn-group">
                                                        <a class="" client_id="{{client.id}}" style="color:var(--secondary-color)"
                                                           href="tel:{{ i.get_first_client.phone }}">
                                                            <button type="button" class="btn btn-secondary">📞 {{i.get_first_client.get_label }}
                                                            </button>
                                                        </a>
                                                        <button type="button"
                                                                class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">

                                                        </button>
                                                        <div class="dropdown-menu" style="background-color: var(--bg-color); color: var(--secondary-color); position: absolute; transform: translate3d(-188px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                            {% for c in i.client_set.all %}

                                                            <a class="dropdown-item" style="color:var(--secondary-color)" href="tel:{{ c.phone }}">
                                                                📞 {{c.get_label }}</a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </td>

                                                {% elif i.client_set.all|length == 1 %}
                                                <td class="align-middle"><a class="" client_id="{{client.id}}" href="tel:{{ i.get_first_client.phone }}"><span style="background-color:var(--background-form); color: var(--secondary-color);" class="btn btn-primary">📞 {{ i.get_first_client.get_label }}</span></a></td>
                                                {% else %}
                                                {% endif %}
                                                <td class="align-middle" colspan="2">Остаток: {{ all_ostatok|get_ostatok:i.id}}<br></td>

                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>


  {% endfor %}
  </tbody>
</table>
<script>
            document.querySelectorAll('.dropdown-item').forEach(item => {
            item.addEventListener('click', event => {
                                            $.ajax({
                                type: 'POST',
                                url: '/change_order_status',
                                data: {
                                    data_id: $(item).attr('order_id'),
                                    new_status: item.innerHTML,
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                    action: 'post'
                                },
                                beforeSend: function () {

                                    // $(item).hide(250);
                                },
                                success: function (json) {
                                    // $('#' + $(item).attr('name')).find('td').text('Удалено');
                                    var button = document.getElementById('button'+$(item).attr('order_id'));

                                    if (item.innerHTML == 'Ожидание предоплаты') {
                                        button.innerHTML = "Ожидание<br>предоплаты";
                                    }
                                    else{
                                    button.innerHTML = item.innerHTML;}

                                },
                                error: function (xhr, errmsg, err) {
                                    // $('#' + $(item).attr('name')).find('td').text('Ошибка! Можешь попробавть ещё...');

                                    // $(item).show(250);

                                    // $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                                    //     " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                    // console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                                }

                            });

            })
        })

</script>
<style>tbody .align-middle{font-size: 0.8rem}</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
